@model IEnumerable<HW12.Contract.Responses.MovieResponse>

<h1>Список фильмов</h1>

<div class="mb-3">
 
    <a href="@Url.Action("UpsertMovie", "Movie")" class="btn btn-primary">Добавить фильм</a>
</div>

<div class="row">
    @foreach (var movie in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@movie.Title</h5>
                    <p class="card-text"><strong>Режиссер:</strong> @movie.Director</p>
                    <p class="card-text"><strong>Жанр:</strong> @movie.Genre</p>

                    @if (movie.Sessions != null && movie.Sessions.Any())
                    {
                        <h6>Сеансы:</h6>
                        <ul>
                            @foreach (var session in movie.Sessions)
                            {
                                <li>
                                    <strong>@session.RoomName</strong>: @session.StartDate.ToShortDateString() @session.StartTime.ToString(@"hh\:mm") - @session.EndTime.ToString(@"hh\:mm")
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>Нет сеансов для данного фильма.</p>
                    }

                    <a href="@Url.Action("Details", "Movie", new { movieId = movie.Id })" class="btn btn-primary">Подробнее</a>

                    <a href="@Url.Action("UpsertSession", "Session", new { movieId = movie.Id })" class="btn btn-success">Добавить сеанс</a>

                    <a href="@Url.Action("UpsertMovie", "Movie", new { movieId = movie.Id })" class="btn btn-warning mt-2">Редактировать</a>

                    <a href="@Url.Action("DeleteMovie", "Movie", new { movieId = movie.Id })" class="btn btn-danger mt-3">Удалить</a>

                </div>
            </div>
        </div>
    }
</div>
